<ion-modal-view>
    
    <ion-header-bar>
        <h1 class="title"></h1>
        <button class="button button-clear button-primary" ng-click="closeVideo()">
            <i class="ion-close" data-pack="default"></i>
        </button>
    </ion-header-bar>

    <ion-content scroll="false">
        
        <video controls class="animation-video" id="video" poster="assets/poster.jpg">
            <source src="assets/PBNI_Final01_mobile.mp4">
            <!--<source src="http://changinglivesapp.com/animation/pbni.mp4" type="video/mp4">-->
        </video>
        
    </ion-content>

</ion-modal-view>